* {
	-fx-font-family : "Maplestory";
}

.bg_login {
	-fx-background-image : url("/imgs/bg_login.png");
	-fx-background-size : 100% 100%;	
}

.login_btn {
	-fx-background-color : transparent;
	-fx-cursor: hand;
}

.login_btn:hover {
	-fx-background-color : #fff2;
}

.login_input {
	-fx-background-color : transparent;
	-fx-border : none;
	-fx-text-fill : #ffff;
}
.register_main {
	-fx-background-color : #000;	
}

.register_main_txt {
	-fx-font-size : 30px;
	-fx-text-fill : #000;
	-fx-font-weight : lighter;
}

.register_left {
	-fx-background-color : #000;
	-fx-background-image : url("/imgs/bg_b.png");
	-fx-background-size : 100% 100%;
}

.register_right {
	-fx-background-color : #000;
}

.register_input {
	-fx-border-color: #f4f5f9;
	-fx-border-width : 0 0 1px 0;
	-fx-background-color : #fff0;
	-fx-text-fill : #f4f5f9;
	-fx-font-size : 13px;
}

.register_btn {
	-fx-border-radius : 20px;
	-fx-background-radius : 20px;
	-fx-background-color : #000;
	-fx-border-width : 2px;
	-fx-border-color : #f4f5f9;
	-fx-font-size : 14px;
	-fx-cursor : hand;
	-fx-text-fill : #f4f5f9;
}

.register_btn:hover {
	-fx-background-color : #333;
}

.main_main_background {
	-fx-background-image : url("/imgs/bg_main.jpg");
	-fx-background-size : 100% 100%;
}

.main_main_label {
	-fx-effect: dropshadow(three-pass-box,#333030,6,5,0,0);
	-fx-font-weight : 700;
	-fx-text-fill : #fff;
}

.main_label_copyright {
	-fx-font-size : 15px;
	-fx-text-fill : #fff;
}

.main_btn {
	-fx-background-radius : 5px;
	-fx-background-color : #f4f5f9;
	-fx-text-fill : #333030;
	-fx-box-sizing : content-box;
	-fx-font-size : 25px;
	-fx-font-weight : 700;
	-fx-border-width : 4px;
	-fx-border-radius : 5px;
	-fx-border-color : #333030;	
	-fx-cursor : hand;
}

.main_btn:hover {
	-fx-background-color : #eee;
}

.main_user_label {
	-fx-effect: dropshadow(three-pass-box,#333030,2,3,0,0);
	-fx-font-size : 20px;
	-fx-font-weight : 700;
	-fx-text-fill : #f4f5f9;
}

.game_background {
	-fx-background-color : #000;
}

.menu_background {
	-fx-background-color : #000a;
}

.menu_inner {
	-fx-background-image : url("/imgs/bd.png");
	-fx-background-size : 100% 100%;
	-fx-border-radius : 10px;
	-fx-background-radius : 10px;
}

.menu_btn {
	-fx-background-color : transparent;
	-fx-cursor : hand;
}

.menu_btn:hover {
	-fx-background-color : #fff3;
}